# serene v5.5.0
# docs: https://github.com/isunjn/serene/blob/latest/USAGE.md

base_url = "https://yashrb24.github.io"
title = "Yash Bhisikar"
description = "Personal website and blog"
default_language = "en"
theme = "serene"
output_dir = "public"
compile_sass = true
minify_html = false
build_search_index = false
generate_feeds = false
feed_filenames = ["feed.xml"]
taxonomies = [{ name = "tags" }, { name = "categories" }]

[markdown]
highlight_code = true
highlight_theme = "css"
extra_syntaxes_and_themes = ["themes/serene/highlight_themes"]
highlight_themes_css = [
  { theme = "serene-light", filename = "hl-light.css" },
  { theme = "serene-dark", filename = "hl-dark.css" },
]
render_emoji = false
external_links_target_blank = false
external_links_no_follow = true
external_links_no_referrer = true
smart_punctuation = false

[slugify]
paths = "on"
taxonomies = "on"
anchors = "on"

[extra]
sections = [
  { name = "about", path = "/about", is_external = false },
  { name = "experience", path = "/experience", is_external = false },
  { name = "projects", path = "/projects", is_external = false },
  { name = "publications", path = "/publications", is_external = false },
  { name = "blog", path = "/posts", is_external = false },
  { name = "résumé", path = "/resume", is_external = false },
]
blog_section_path = "/posts"

back_link_text = "back"
force_theme = false

footer_copyright = "Yash Bhisikar"
footer_credits = false 

not_found_error_text = "404 Not Found"
not_found_recover_text = "back to home"

reaction = false
reaction_align = "right"
